<h1>Créer un nouveau scrutin</h1>

<form method="POST" action="{{ url_for('scrutin.create_scrutin') }}">
  <div>
    <label for="title">Titre du scrutin :</label>
    <input type="text" id="title" name="title" required />
  </div>

  <div>
    <label for="description">Description :</label>
    <textarea id="description" name="description" required></textarea>
  </div>

  <div>
    <label for="start_date">Date de début :</label>
    <input type="date" id="start_date" name="start_date" required />
  </div>

  <div>
    <label for="end_date">Date de fin :</label>
    <input type="date" id="end_date" name="end_date" required />
  </div>
  <div>
    <label for="options">Options du scrutin (minimum 2) :</label>
    <div>
      <div>
        <input type="text" name="options[]" placeholder="Option 1" required />
        <button type="button">Supprimer</button>
      </div>
      <div>
        <input type="text" name="options[]" placeholder="Option 2"  />
        <button type="button">Supprimer</button>
      </div>
      <div>
        <input type="text" name="options[]" placeholder="Option 3"  />
        <button type="button">Supprimer</button>
      </div>
    </div>
    <button type="button">Ajouter une option</button>
  </div>
  <button type="submit">Créer le scrutin</button>
</form>
{% if error %}
    <p>{{ error }}</p>
{% endif %}
