{% if scrutin is none %}
    <p>Le scrutin que vous essayez de modifier n'existe pas ou vous n'avez pas les droits nécessaires.</p>
{% else %}
    <!-- Code d'affichage du formulaire de modification du scrutin -->
<h1>Modifier le scrutin {{ scrutin_id }}</h1>
<pre>{{scrutin}}</pre>

<form method="POST" action="{{ url_for('scrutin.edit_scrutin', scrutin_id=scrutin_id|string) }}">
  <div>
    <label for="title">Titre du scrutin :</label>
    <input type="text" id="title" name="title" value="{{scrutin.title}}" required  />
  </div>

  <div>
    <label for="description">Description :</label>
    <textarea id="description" name="description" required>{{scrutin.description}}</textarea>
  </div>

  <div>
    <label for="start_date">Date de début :</label>
    <input type="date" id="start_date" name="start_date" value="{{ scrutin.start_date.strftime('%Y-%m-%d') }}" required />
  </div>

  <div>
    <label for="end_date">Date de fin :</label>
    <input type="date" id="end_date" name="end_date" value="{{ scrutin.end_date.strftime('%Y-%m-%d') }}" required />
  </div>
  <div>
    <label for="options">Options du scrutin (minimum 2) :</label>
    <div>
        {% for option in scrutin.options %}
            <div>
                <input type="text" name="options[]" placeholder="Option 1" value="{{option}}" required />
                <button type="button">Supprimer</button>
            </div>
        {% endfor %}
    </div>
    <button type="button">Ajouter une option</button>
  </div>
  <button type="submit">Modifier le scrutin</button>
</form>
{% if error %}
    <p>{{ error }}</p>
{% endif %}
{% endif %}