{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard-container">
  <aside>
    <div class="dashboard-info">
      <p><span>234</span> Scrutins au total</p>
      <p><span>4</span> Options en moyenne par scrutin</p>
      <p><span>34</span> Utilisateurs inscrit</p>
      <p><span>31</span> Utilisateurs actif</p>
    </div>
  </aside>
  <main>
    <div class="scrutin-profil-top">
      <h1>Statistiques</h1>
    </div>

    <section class="articles">
      <p>Les 10 scrutins avec le plus de participants</p>
      <article class="scrutin">
        <div class="title-accordeon">
          <p>Quel type de musique préférez-vous écouter ?</p>
          <div class="scrutin-info">
            <p>Créer le <span> 18/12/2024 </span> - Fin le <span> 22/12/2024 </span></p>
            <p>Par <span> @TheRealJhon</span></p>
            <p><span><img class="icon" src="{{ url_for('static', filename='assets/svg/user.svg') }}" alt="icon participants"></span><span>24 </span> participants</p>
          </div>
        </div>
      </article>
    </section>
  </main>
</div>
{% endblock %}