{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard-container">
  <aside>
    <div class="dashboard-info">
      <p><span>{{ total_scrutins}}</span> Scrutins au total</p>
      <p><span>{{ average_options }}</span> Options en moyenne par scrutin</p>
      <p><span>{{ user_count }}</span> Utilisateurs inscrit</p>
      <p><span>{{ active_user_count }}</span> Utilisateurs actif</p>
    </div>
  </aside>
  <main>
    <div class="scrutin-profil-top">
      <h1>Statistiques</h1>
    </div>

    <section class="articles">
      <p>Les 10 scrutins avec le plus de participants</p>
      {% for scrutin in top_scrutins %}
      <article class="scrutin">
        <div class="title-accordeon">
          <p>{{ scrutin.title}}</p>
          <div class="scrutin-info">
            <p>Créer le <span> {{ scrutin.created_at.strftime("%d/%m/%Y") }} </span> - Fin le <span>{{ scrutin.end_date.strftime("%d/%m/%Y") }} </span></p>
            <p>Par <span> @{{ scrutin.creator_pseudonym }}</span></p>
            <p><span><img class="icon" src="{{ url_for('static', filename='assets/svg/user.svg') }}" alt="user"></span><span>{{ scrutin.participants_count }} </span> participants</p>
          </div>
        </div>
      </article>
      {% endfor %}
    </section>
  </main>
</div>
{% endblock %}