{% extends "base.html" %}

{% block title %}Inscription{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Inscrivez-vous</h2>
    <form action="/edit-profile" method="post">
        <input type="text" name="firstname" value="{{ user.firstname }}" placeholder="First Name">
        <input type="text" name="lastname" value="{{ user.lastname }}" placeholder="Last Name">
        <input type="email" name="email" value="{{ user.email }}" placeholder="Email">
        <button class="btn-border-anim" type="submit">Modifier</button>
    </form>
</div>
{% endblock %}
