<pre>{{ scrutins }}</pre>
<h2>Les 10 derniers scrutins</h2>
{% for scrutin in scrutins %}
<ul>
    <li>Id de la question: {{ scrutin.question_id }}</li>
    <li>Date de création : {{ scrutin.created_at.strftime("%d/%m/%Y %H:%M:%S") }}</li>
</ul>
{% endfor %}
<h2>Les 10 derniers scrutins actifs</h2>
{% for scrutin in scrutinsActive %}
<ul>
    <li>Id de la question: {{ scrutin.question_id }}</li>
    <li>Date de création : {{ scrutin.created_at.strftime("%d/%m/%Y %H:%M:%S") }}</li>
    <li>Date de fin : {{ scrutin.end_date.strftime("%d/%m/%Y %H:%M:%S") }}</li>
</ul>
{% endfor %}
