{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/profile.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="profil-container">
  <aside>
    <div class="profil-info">
      <h2>{{ user.firstname }} {{ user.lastname }}</h2>
      <span>@{{user.pseudonym}}</span>
      <p><span><img class="icon" src="{{ url_for('static', filename='assets/svg/mail.svg') }}" alt=""></span>{{ user.email }}</p>
    </div>
    <div class="profil-actions">
      <a href=""><span><img class="icon" src="{{ url_for('static', filename='assets/svg/edit.svg') }}" alt="edit"></span>Modifier vos informations</a>
      <a href="{{ url_for('user.logout') }}"><span><img class="icon" src="{{ url_for('static', filename='assets/svg/quit.svg') }}" alt="logout"></span>Déconnexion</a>
      <form action="{{ url_for('user.deactivate_account') }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir désactiver votre compte ?')">
        <button type="submit" class="btn btn-danger"><span><img class="icon" src="{{ url_for('static', filename='assets/svg/trash.svg') }}" alt="trash"></span>Désactiver mon compte</button>
      </form>    
    </div>
  </aside>
  <main>
    <div class="scrutin-profil-top">
      <div class="title-profil">
        <h1>Scrutins</h1>
        <button class="profil-menu-burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <ul>
        <li><a href="{{ url_for('user.get_user_profile', action='scrutins') }}" {% if action == 'scrutins'%} class="active"{% endif %}>Vos scrutins</a></li>
        <li><a href="{{ url_for('user.get_user_profile', action='participate') }}" {% if action == 'participate'%} class="active"{% endif %}>Participations</a></li>
      </ul>
      <div  class="btn-create-scrutin">
        <a href="{{ url_for('scrutin.create_scrutin') }}" class="btn-border-anim">Créer un scrutin</a>
      </div>
    </div>

    <section class="articles">
      {% for scrutin in scrutins %}
      <article class="scrutin">
        <input type="checkbox" id="scrutin-{{ loop.index }}">
        <label for="scrutin-{{ loop.index }}" class="title-accordeon">
          <p>{{ scrutin.title }}</p>
          <div class="scrutin-info">
            <p>Créer le <span> {{ scrutin.created_at.strftime("%d/%m/%Y") }} </span> - Fin le <span> {{ scrutin.start_date.strftime("%d/%m/%Y") }} </span></p>
            <p>Par <span> @{{ scrutin.creator_pseudonym }}</span></p>
            <p><span><img class="icon" src="{{ url_for('static', filename='assets/svg/user.svg') }}" alt=""></span><span>{{ scrutin.votes|length }} </span> participants</p>
          </div>
          <button><img src="{{ url_for('static', filename='assets/svg/down-arrow.svg') }}" alt=""></button>
        </label>
        <div class="content-accordeon">
          <div class="scrutin-description"><p>Je vous propose de renseigner votre style de musique préféré parmis plusieurs choix.</p></div>
          <div class="scrutin-bottom">
            <div class="choices">
              <p>Vos choix :</p>
              <ul>
                {% for option in scrutin.options%}
                <li>{{option}}</li>
                {% endfor %}
              </ul>
            </div>

            <!-- <a href="" class="btn-border-anim">Modifier</a> -->
            {% if scrutin.start_date > current_time %}
            <a class="btn-border-anim" href="{{ url_for('scrutin.edit_scrutin', scrutin_id=scrutin.scrutin_id|string) }}">Modifier</a></li>
            {% elif scrutin.end_date < current_time %}
            <a class="btn-border-anim" href="#">Résultat</a>
            {% endif %}
          </div>
        </div>
      </article>
      {% endfor %}
    </section>
  </main>
</div>
{% endblock %}
