{% extends "base.html" %}

{% block title %}Inscription{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Inscrivez-vous</h2>
    <form action="{{ url_for('user.register') }}" method="POST">
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <div class="align-input">
            <input type="text" id="lastname" name="lastname" placeholder="NOM*" required="required">
            
            <input type="text" id="firstname" name="firstname" placeholder="PRÉNOM*" required="required">
        </div>
        <input type="text" id="pseudonyme" name="pseudonym" placeholder="PSEUDONYME*" required="required">
        <input type="text" id="email" name="email" placeholder="VOTRE EMAIL*" required="required">
        <input type="password" id="password" name="password" placeholder="MOT DE PASSE*" required="required">
        <input type="password" id="repeatpassword" name="repeatpassword" placeholder="RÉPÉTER MOT DE PASSE*" required="required">
        <button class="btn-border-anim" type="submit">Se connecter</button>
        
    </form>
</div>
{% endblock %}
